<main class="container mt-4">
    <h1 class="mb-4">Catálogo de Livros</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Título</th>
                <th>Editora</th>
                <th>Autores</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livro of livros" class="py-2">
                <td class="align-middle">
                    <div>{{ livro.titulo }}</div>
                    <div>
                        <button class="btn btn-danger btn-sm mt-2" (click)="excluir(livro.codigo)">
                            Excluir
                        </button>
                    </div>
                </td>
                <td>
                    {{ obterNome(livro.codigo) }}
                </td>
                <td>
                    <ul>
                        <li *ngFor="let autores of livro.autores">{{ autores }}</li>
                    </ul>
                </td>
                <td>{{ livro.ano }}</td>
            </tr>
        </tbody>
    </table>
</main>